@import '../../styles/mdc-variables';

#halfPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 64px 32px 32px;
}

#subText {
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
}

#titleContainer {
  text-align: center;
}

#pageTitle {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  #pageTitle {
    font-size: 32px;
  }
}

@mixin backgroundScreens {
  @media screen and (min-width: 1200px) {
    background-size: 100%;
    margin: -2px;
  }
  @media screen and (min-width: 799px) and (max-width: 1199px) {
    background-size: 150%;
    background-position: top center;
  }
  @media screen and (min-width: 600px) and (max-width: 799px) {
    background-size: 225%;
    background-position: top center;
  }
  @media screen and (min-width: 350px) and (max-width: 599px) {
    background-size: 450%;
    background-position: top center;
  }
  @media screen and (max-width: 349px) {
    background-size: 600%;
    background-position: top center;
  }
}

@mixin backgroundMute {
  background-size: cover;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./img/background.svg') no-repeat;
  @include backgroundScreens;
}

.descriptionContainer {
  background: url('./img/background-3.svg') no-repeat;
  @include backgroundMute;

  padding: 100px 10% 50px 10%;
  display: flex;
  text-align: center;

  @media screen and (max-width: 999px) {
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 150px;
    .descriptionItems {
      flex: 100%;
    }
  }

  @media screen and (min-width: 1000px) {
    padding-top: 150px;
    padding-bottom: 100px;
    .descriptionItems {
      flex: 33.33%;
      padding: 0px 32px;
    }
  }

  .descriptionIcon {
    font-size: 100px;
    color: $mdc-theme-secondary;
  }

  .descriptionItems {
    color: $mdc-theme-primary;
    padding-bottom: 50px;
    .descriptionItemsHeader {
      font-weight: bolder;
    }
  }
}

.slider {
  width: 100%;
  justify-content: center;
}

.imageContainer {
  max-width: 100%;
}

.carouselContainer {
  width: 60%;
  margin: 20px 0px 10px 0px;
  @media screen and (max-width: 999px) {
    padding-top: 40px;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1000px) {
    width: 65%;
    height: auto;
  }
}

.carouselImage {
  width: 100%;
  height: auto;
  display: block;
}

.readyContainer {
  padding: 100px 10%;
  display: flex;
  width: 80%;

  .readyColumnText {
    .readyText {
      font-weight: bold;
      color: $mdc-theme-primary;
    }
  }

  .readyColumnButton {
    .navLink {
      text-decoration: none;
    }
    .readyButton {
      height: 48px;
    }
  }

  @media screen and (max-width: 999px) {
    flex-direction: column;
    .readyColumnText {
      flex: 100%;
      margin-bottom: 50px;
    }
    .readyColumnButton {
      flex: 100%;
      .readyButtonSignUp {
        margin-right: 40px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .readyColumnButton {
      .readyButton {
        margin-bottom: 24px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .readyColumnText {
      flex: 50%;
    }
    .readyColumnButton {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 50%;
    }
  }
}

.footerContainer {
  @include backgroundMute;
  background: url('./img/background-2.svg') no-repeat;

  padding: 150px 10% 50px 10%;
  display: flex;
  background-size: 200%;
  width: 80%;
}
