@import '~react-multi-email/style.css';

.react-multi-email [data-tag] {
  color: black;
  background-color: rgba(20, 48, 103, 0.141);
  font-weight: inherit;
  margin-bottom: 2px;
}

.react-multi-email.focused {
  border-color: #193163;
  background: none !important;
}

.react-multi-email {
  background: none !important;
}

.react-multi-email>input {
  background: none !important;
}
