.container {
  margin-bottom: 1em;
  padding: 0 5%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  text-align: center;

  .showNameHeader {
    margin: 0 0 1rem 0;
    word-break: break-word;
  }
}

.tabBarContainer {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;

  .tabBar {
    margin: 0 auto 1.8em auto;
    max-width: 30em;
  }
}
