@import '../styles/mdc';

$menu-breakpoint: largephone;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 5% 1em 5%;

  &.blacklisted {
    margin: 0;
  }
}

.contentLogo {
  width: 150px;
}

.menuContainer {
  @media (min-width: mdc-layout-grid-breakpoint-min($menu-breakpoint)) {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;

  .updateText {
    text-align: right;
  }

  .barButton {
    flex-shrink: 0;
  }

  >:not(:last-child) {
    margin-right: 1em;
  }

  @media (max-width: mdc-layout-grid-breakpoint-min($menu-breakpoint) - 1) {
    display: none;
  }
}

#topBannerButton {
  @include mdc-button-filled-accessible(lighten($mdc-theme-secondary, 12%));
  @include mdc-button-shape-radius(0);
  width: 100%;
  height: 3.5em;
}
