@import '../mdc';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 5% 1em 5%;

  @media (min-width: mdc-layout-grid-breakpoint-min(largephone)) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.contentLogo {
  height: 100%;
  width: 195px;
}

.buttonContainer {
  :not(:last-child) {
    margin-right: 1em;
  }
}
