@import '~@material/elevation/mdc-elevation';
@import '~@material/card/mdc-card';
@import '../mdc-variables';

.stuck {
  @include mdc-elevation(6);
}

.barContainer {
  left: 0;
  right: 0;
  position: sticky;
  bottom: 0;
  transition: box-shadow 0.17s;
  z-index: 5;
}

.bar {
  background-color: $mdc-theme-secondary;
  padding: 0.5em 1em;
}
