// @import "../mdc.scss";

.container {
  margin-bottom: 30px;
}

.create_page_form {
  text-align: center;
}

.form_input {
  margin: 40px;
}

#form_header {
  margin: 0px;
}

#header {
  text-align: center;
  font-weight: 300;
  font-size: 250%;
  margin: inherit, 10px;
  margin-bottom: 10px;
}