@import '../mdc-variables';

.formSection {
  padding-bottom: 20px;
  text-align: center;
}

.formInput {
  margin: 40px;
}

#header {
  text-align: center;
  margin-bottom: 10px;
  margin: 20px;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.bottomBarContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
