@import '../mdc-variables';

.formSection {
  padding-bottom: 20px;
  text-align: center;
}

.formInput {
  margin: 40px;
}

#header {
  text-align: center;
  margin-bottom: 10px;
  margin: 20px;
}

#pageContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.bottomBarContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timePickerRow {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.radioRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}