.outerContainer {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-height: 40em) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .innerContainer {
    padding: 1em;
  }
}

.card {
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;

  .formInput {
    margin-top: 0.5em;
  }

  .submitButton {
    margin-top: 1em;
  }
}
