@import '~react-multi-email/style.css';

.react-multi-email [data-tag] {
  color: white;
  background-color: #193163;
  font-weight: inherit;
  margin-bottom: 2px;
}

.react-multi-email.focused {
  border-color: #193163;
  background: none !important;
}

.react-multi-email {
  margin: 10px;
  width: 80%;
  background: none !important;
}

.react-multi-email>input {
  background: none !important;
}