.Poll-container {
  margin-bottom: 30px;
}

.Poll-header {
  text-align: center;
  margin-bottom: 30px;
}

.Poll-slider {
  max-width: 400px;
  margin: 30px auto;
}

.link {
  text-decoration: none !important;
}

.link:after {
  background: url(../clipboard-regular.svg);
  /* https://fontawesome.com/license */
}

.link:hover {
  text-decoration: underline !important;
}
