@import '../mdc';

#formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0.3em 0.4em;
  }
}

.pollNameField {
  min-width: 17em;
  flex: 2;
}

.buttonContainer {
  min-width: 13em;
  flex: 1;

  #createPollButton {
    @include mdc-button-filled-accessible($mdc-theme-secondary);
    width: 100%;
  }
}
