@import '../mdc';

#formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  > * {
    margin: 0.3em 0.4em;
  }
}

.pollNameField {
  min-width: 15em;
  flex: 2;
}

#createPollButton {
  @include mdc-button-filled-accessible($mdc-theme-secondary);
  flex: 1;
  min-width: 12em;
  width: 100%;
}
