@import '../mdc';

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  z-index: 10;
  background-color: transparentize(darken($mdc-theme-primary, 20%), 0.25) !important;
}

.ReactModal__Content,
.ReactModal__Content--after-open {
  // !important overrides of react-modal styles set directly on the elements
  background: none !important;
  border: none !important;
  overflow: inherit !important;
  padding: 0px !important;

  top: 50% !important;
  right: 0 !important;
  bottom: unset !important;
  left: 0 !important;
  transform: translateY(-50%);
}
