@import '../styles/mdc';

$vertical-margin: 0.7rem;

.container {
  margin: auto;
  max-width: 475px;
  width: 100%;

  .card {
    margin: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
  }
}

.tabDiv {
  display: flex;
  flex-direction: column;

  $side-margin: 1em;
  margin: 1em $side-margin 0 $side-margin;
}

.descText {
  margin-bottom: $vertical-margin;
  text-align: center;
}

.shareRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  :not(:last-child) {
    margin-right: 0.5em;
  }
}

#linkShareRow {
  display: flex;
  flex-direction: row;
  margin-bottom: $vertical-margin;
  width: 100%;

  .copyUrlInput {
    color: white;
    flex-grow: 1;
    height: $mdc-button-height;
  }

  .clipboardButton {
    margin-left: 0.5rem;
  }
}

#inviteButton {
  margin-top: $vertical-margin;
}

.messageText {
  margin: 20px;
  text-align: center;
}
