.container {
  margin: auto;
  max-width: 475px;
  width: 100%;

  .card {
    align-items: center;
    margin: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}

.copyUrlInput {
  color: white;
  height: 30px !important; // TODO: Remove important
  width: 100%;
  margin: 10px 10px;
}

.clipboardButton {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px !important; // TODO: Remove important
}

.shareRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  :not(:last-child) {
    margin-right: 0.5em;
  }
}

.descText {
  margin-top: 10px;
  text-align: center;
}

#linkShareRow {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px 0px;
  width: 100%;
}

.tabDiv {
  margin: 0.5em 1em 0 1em;
  width: 100%;
}
