@import '../mdc';

.scrollable {
  overflow-y: scroll;
}

.sticky {
  position: sticky;
  z-index: 10;
  top: 0px;
}

.header {
  background-color: $mdc-theme-secondary;
  text-align: center;
  display: flex;
  height: 53px;
  padding-top: 9px;
  justify-content: center;
}

.icon {
  color: $mdc-theme-primary;
  position: absolute;
  left: 16px;
  top: 15px;
  margin: auto;
}

// utilities
.hide {
  display: none;
}

// animations
.slideForward {
  animation: slideForward 400ms ease-in forwards;
}

@keyframes slideForward {
  to {
    height: 100vh;
  }
}

.slideBackward {
  animation: slideBackward 400ms ease-in forwards;
}

@keyframes slideBackward {
  from {
    height: 100vh;
  }
  to {
    height: 53px;
  }
}

.rotateOut {
  animation: rotateOut 400ms ease-in forwards;
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.rotateIn {
  animation: rotateIn 400ms ease-in forwards;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

// fab stuff
button.bottomBarFab {
  @include mdc-fab-accessible($mdc-theme-primary);
  position: fixed;
  bottom: 1rem;
  right: 8%;

  &.hidden {
    transform: scale(0);
  }
}
