@import '../mdc-variables';
@import '../mdc';

$sidebar-hidden-breakpoint: largephone;

.sidebarContainer {
  // for some reason when the sidebar is called from the bottomBar,
  // it doesn't recognize the parent container's boundaries,
  // this hack is ensures that the list items follow the parent
  @media (max-width: mdc-layout-grid-breakpoint-min($sidebar-hidden-breakpoint)) {
    width: 90vw;
    margin-top: 4em;
  }
}

.attendees {
  .attendeeListSection {
    margin-bottom: 1em;
  }

  .attendeeListHeader {
    margin: 0;
  }
}

.respondents {
  border-radius: 8px;
  padding: 12px;
  margin-top: 12px;
  margin-right: 8px;
  margin-bottom: 12px;
}

.icon {
  position: absolute;
  vertical-align: -webkit-baseline-middle;
  right: 8px;
  color: $mdc-theme-primary;
}

.pollTime {
  margin-top: 0;
  margin-bottom: 1em;
}

.listItemHeader {
  padding-left: 16px;
  padding-right: 16px;
  .listItemSubText {
    color: #757575;
    font-size: 14px;
  }
}

.listText {
  // Disable clicks on Chrome to prevent some weird error when the text is
  // clicked in certain circumstances.
  pointer-events: none;
}

.hiddenIcon {
  position: absolute;
  right: 16px;
  color: #757575;
}

.header {
  .hoveringHeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .hoveringTextContainer {
      flex: 1;
    }
  }
}

.modalContainer {
  background-color: #f7f6f4;
  padding: 12px 24px;
  .modalButtonContainer {
    float: right;
  }
}