@import '~@material/button/mdc-button';
@import '../mdc-variables';

.container {
  margin-bottom: 1em;
  padding: 0 5%;
}

.header {
  text-align: center;
  margin-bottom: 1em;
}

.contentLogo {
  margin-bottom: 15px !important;
}

.copyUrlInputContainer {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.copyUrlInput {
  height: 30px !important;
  width: 300px;
}

.clipboardButton {
  height: 30px !important;
}

.linkTab {
  .linkTabButton {
    @include mdc-button-shape-radius($mdc-button-height / 2);
    @include mdc-button-horizontal-padding(1.5em);
    @include mdc-button-outline-color($mdc-theme-primary);
  }

  &.activeLink {
    .linkTabButton {
      @include mdc-button-filled-accessible($mdc-theme-primary);
    }
  }
}

.tabsContainer {
  display: flex;
  justify-content: center;

  :not(:last-child) {
    margin-right: 0.5em;
  }
}
