.sliderLabel {
  margin-top: 20px;
  text-align: center;
}

.slider {
  max-width: 400px;
  margin: 5px auto;
  margin-bottom: 70px;
}

.rc-slider {
  margin-bottom: 45px;
}

.attendees {
  top: 1em;
  position: -webkit-sticky;
  position: sticky;
}

.pollTime {
  margin-bottom: 1em;
}

