@import '../mdc-variables';

.attendees {
  margin-top: 32px;
  border-radius: 10px;
  margin-left: 0px;
  padding: 4px 8px 16px 16px;
  margin-bottom: 60px;
}

.respondents {
  border-radius: 8px;
  padding: 12px;
  margin-top: 12px;
  margin-right: 8px;
  margin-bottom: 12px;
}

.icon {
  position: absolute;
  vertical-align: -webkit-baseline-middle;
  right: 32px;
  margin-top: -2px;
  color: $mdc-theme-primary;
}

.borderAccept {
  border: 1px solid green;
}

.borderReject {
  border: 1px solid red;
}

.pollTime {
  margin-bottom: 1em;
}

@media all and (min-width: 900px) {
  .resultsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
} else {
  .resultsContainer {
    position: sticky;
    bottom:0;
  }
}

.timelineContainer {
  flex: 3.5;
  padding: 15px;
}

.sidebarResultsContainer {
  flex: 1;
  padding: 10px;
}
