@import '../mdc';

.bottomBar {
  margin-top: 1em;
}

.bottomBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mainText {
    margin: 0 1rem;
    text-align: center;
    word-break: break-word;
  }

  .submitButton {
    @media (max-width: mdc-layout-grid-breakpoint-max(phone)) {
      // Submit button icon
      i {
        display: none;
      }
    }
  }
}
