.container {
  margin-bottom: 30px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.contentLogo {
  margin-bottom: 15px !important;
}

.copyUrlInputContainer {
  margin-bottom: 5px;
  display: block;
}

.copyUrlInput {
  height: 30px !important;
  width: 350px;
}

.tabBar {
  display: flex;
  flex-direction: row;
}