.bottomBar {
  margin-top: 1em;
}

.bottomBarContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mainText {
    flex-grow: 1;
    font-size: 0.9em;
    text-align: center;
    word-break: break-word;
  }
}
