@import '../mdc';

$sidebar-hidden-breakpoint: largephone;

.resultsContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: mdc-layout-grid-breakpoint-min($sidebar-hidden-breakpoint) - 1) {
  .hiddenOnMobile {
    display: none;
  }
}

@media (min-width: mdc-layout-grid-breakpoint-min($sidebar-hidden-breakpoint)) {
  .sidebar {
    width: 17em;
    top: 5em;
    margin-left: 1.8em;
    position: -webkit-sticky;
    position: sticky;
  }

  #bottomBar {
    display: none;
  }
}

#bottomBar {
  margin-top: 1em;

  .bottomBarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variant-numeric: tabular-nums;

    .mainText {
      flex: 1;
      margin: 0 1rem;
      text-align: center;
      word-break: break-word;
    }
  }
}
