.Timeline {
  display: inline-grid;
  width: 100%;
}

.Timeline-Tick {
  padding: 0 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 0 1px 0 0;
}

.Timeline-TimeBox {
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  background-color: rgb(250, 250, 250);
  margin: -1px 0 0 -1px;
}

.Timeline-TimeBox:hover {
  background-color: rgb(250, 250, 250);
  border-width: 2px;
}

.Timeline-TimeBox-selected {
  border-color: rgb(230, 250, 230);
  background-color: rgb(210, 240, 220);
}

.TimelineDay {

}

.date-heading {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-style: solid;
  border-color: white white rgb(200, 200, 200) white;
  border-width: 1px;
  margin: -1px 0 0 -1px;
}

.timeline-label {
  background-color: rgb(240, 240, 240);
}

#attendees {
  top: 1em;
  position: -webkit-sticky;
  position: sticky;
}

#poll-time {
  margin-bottom: 1em;
}

ol {
  margin: -0.5em;
}
