.timelineWrapper {
  overflow-x: auto;
}

.timeline {
  display: inline-grid;
  width: 100%;
}

.tick {
  // padding: 0 0.5rem 0 0.5rem;
  position: sticky;
  left: 0;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 0 1px 0 0;
}

.timeBox {
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  background-color: rgb(250, 250, 250);
  margin: -1px 0 0 -1px;

  &:hover {
    border-width: 2px;
  }

  &.selecting {
    background-color: hsla(107, 60%, 35%, 1) !important;
  }

  &.deselecting {
    background-color: white !important;
  }
}

.dateHeading {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-style: solid;
  border-color: white white rgb(200, 200, 200) white;
  border-width: 1px;
  margin: -1px 0 0 -1px;
  text-align: center;
}

.timelineLabel {
  background-color: white;
}

ol {
  margin: -0.5em;
}
