@import '../mdc-variables';

#halfPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $mdc-theme-primary;
  color: white;
  text-align: center;
  padding: 64px 32px 32px;
}

#subText {
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-top: 0px;
}

#titleContainer {
  text-align: center;
}

#pageTitle {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  #pageTitle {
    font-size: 32px;
  }
}
