@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import './mdc';

body {
  color: rgb(28,48,92);
  font-family: 'Fira Sans', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poll-input {
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  height: 60px;
  vertical-align: top;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 484px;
  padding: 5px 9px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.btn-outline-primary {
  color: #555;
  background-color: #fff;
  background-image: none;
  border-color: #ffb844;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: rgb(28,48,92);
  border-color: rgb(28,48,92);
}

#form-header {
  padding-top: 50px;
  padding-bottom: 20px;
}

.content-logo {
  width: 195px;
  margin-bottom: 30px;
}

.link {
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
}

.font-icon {
  height: 1em;
  left: .125em;
  bottom: .125em;
  position: relative;
}

#notAttending {
  margin-top: 40px;
}

.nav-item {
  outline: none;
}


// CREATE NEW SHOW SCSS

.create-show__form {
  text-align: center;
}

.create-show__header {

}




