@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
  color: rgb(28,48,92);
  font-family: 'Fira Sans', sans-serif;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(28, 48, 92);
    margin: 0 0.5rem 0 0.5rem;
}

#landing-page {
  min-height: 100vh;
  background: #ff806d fixed;
  background: -moz-linear-gradient(-45deg, #ffb844 30%, #ff806d 100%) fixed;
  background: -webkit-gradient(left top, right bottom, color-stop(30%, #ffb844), color-stop(100%, #ffb844)) fixed;
  background: -webkit-linear-gradient(-45deg, #ffb844 30%, #ff806d 100%) fixed;
  background: -o-linear-gradient(-45deg, #ffb844 30%, #ff806d 100%) fixed;
  background: -ms-linear-gradient(-45deg, #ffb844 30%, #ff806d 100%) fixed;
  background: linear-gradient(135deg, #ffb844 30%, #ff806d 100%) fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb844', endColorstr='#ff806d', GradientType=1 );
  z-index: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 100%;
  margin: 30px auto;
}

.poll-input {
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  height: 60px;
  vertical-align: top;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 484px;
  padding: 5px 9px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.btn-outline-primary {
  color: #555;
  background-color: #fff;
  background-image: none;
  border-color: #ffb844;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: rgb(28,48,92);
  border-color: rgb(28,48,92);
}

.Welcome-content {
  width: 500px;
}

#form-header {
  padding-top: 50px;
}

#form-header .logo {
  width: 260px;
  margin-bottom: 70px;
}

#form-header #header {
  font-size: 72px;
}

.link {
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
}
