$mdc-theme-primary: #193163;
$mdc-theme-secondary: #F9BA5C;
$mdc-theme-surface: #F7F6F4;

@import '@material/react-button/index';
@import '@material/react-card/index';
@import '@material/react-text-field/index';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab/index.scss';

// Override standard MDC classes
@import './mdc-override.scss'