@import '../../mdc';

// Above this height, the page content will be positioned absolutely in the
// center of the page.
$position-absolute-min-height: 42rem;

.outerContainer {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  // Vertically center the login panels on taller viewports
  @media (min-height: $position-absolute-min-height) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
}

.card {
  margin-top: 1.3em;

  &.socialCard {
    padding: 1em;

    :not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em 1em 1em;

  .formInput {
    margin-top: 0.7em;
  }

  .submitButton {
    margin-top: 1em;
  }
}

.contentLogo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}

#googleButton {
  @include mdc-button-filled-accessible(#dd4b39);
}

#facebookButton {
  @include mdc-button-filled-accessible(#3b5998);
}
